GEMINI_API_KEY=

X_CONSUMER_KEY=
X_SECRET_KEY=
TWITTER_BEARER_TOKEN=

XAI_API_KEY=

ANTHROPIC_API_KEY=

COINGECKO_API_KEY=

COOKIE3_USERNAME=
COOKIE3_CREDENTIAL=

APIFY_API_TOKEN=

SLACK_BOT_TOKEN=
NEXT_PUBLIC_SLACK_CONFIGURED=